<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find legged_unitree_description)/urdf/common/transmission.xacro"/>

    <xacro:macro name="gazebo_param" params="prefix">


        <gazebo reference="${prefix}_foot_fixed">
            <disableFixedJointLumping>true</disableFixedJointLumping>
        </gazebo>

        <gazebo reference="${prefix}_hip">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <material>Gazebo/DarkGrey</material>
        </gazebo>
        <gazebo reference="${prefix}_thigh">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>0</self_collide>
            <material>Gazebo/DarkGrey</material>
            <kp value="1000000.0"/>
            <kd value="100.0"/>
        </gazebo>
        <gazebo reference="${prefix}_calf">
            <mu1>0.5</mu1>
            <mu2>0.5</mu2>
            <self_collide>1</self_collide>
        </gazebo>
        <gazebo reference="${prefix}_FOOT">
            <mu1>0.6</mu1>
            <mu2>0.6</mu2>
            <self_collide>1</self_collide>
            <material>Gazebo/DarkGrey</material>
            <kp value="1000000.0"/>
            <kd value="100.0"/>
        </gazebo>

        <xacro:leg_transmission name="${prefix}"/>
    </xacro:macro>
</robot>
